body {
  margin: 0;
  padding: 0;
  background: #F7F7F7;
  font-family: 'Roboto', Helvetica, sans-serif;
}

#app {
  width: 100vw;
  min-height: 100vh;
}

.view {
  padding: 40px 0;
}

// COMPONENTS
@import './components/Header.scss';
@import './components/Footer.scss';

// PAGES
@import './pages/feed.scss';
@import './pages/login.scss';
@import './pages/post.scss';
@import './pages/profile.scss';
@import './pages/register.scss';
